{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="about">
	{{ page.content}}


    <section>
        <img src="{{(header.supportImage|first).path}}" alt="{{page.title}}">
        <h1>{{ header.supportTitle }}</h1>
        <h2>{{ header.phone }}</h2>
    </section>

    <section>
        <img src="{{(header.contactImage|first).path}}" alt="{{page.title}}">
        <h1>{{ header.contactTitle }}</h1>
        <h2>{{ header.mail }}</h2>
    </section>
</div>
{% endblock %}