<div class="section">
	{{ page.content}}


        <div>
		  <img src="{{(header.myImage|first).path}}" alt="{{page.title}}">
        </div>  

        <a href="{{base_url}}{{header.page}}"><h1>{{ page.header.title }}</h1></a>

        {% if (image.mySecondImage|first).path %}
            <div>
              <img src="{{(header.mySecondImage|first).path}}" alt="{{page.title}}">
            </div>
        {% endif %}
        
</div>
